.navbar-brand {
    font-size: 24px;
    font-family: Montserrat, serif;
    /* text-transform: uppercase; */
    font-weight: 400;
    font-style: italic;
}

.navbar-brand a {
    text-decoration: none;
}

.navbar-brand a:hover {
    color: #000;
}

#navbarBasicExample .navbar-item,
#navbarBasicExample .navbar-link {
    text-transform: uppercase;
    text-decoration: none;
}